@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:  #fff;  /***** global variable primary-white of the html document******/
  --primary-orange: #ffa052;
  --primary-dark: #343a40;
}

body{
  font-family: 'Roboto Condensed', sans-serif;  
}
/*********************** Navbar logo *****************************/
.logo{
  width: 16.25rem;
}

.navbar-brand{
  max-width:17.5rem;
  padding: 0;
  height: 6rem !important;
}

/********************** NavLink *************************/

nav a.nav-link{
  /* font-weight:500; */
  letter-spacing: 0.275rem;
  cursor:pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  color: var(--primary-white)!important; /****** color is assigned using variable function ******/
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav >li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}
